@using MvcService.Models
@model IEnumerable<Game>

    <h1>Game</h1>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FriendId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FriendId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Devolve", "Devolve", "Game", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
